<style>
  #nav-container {
    width: 100%;
  }

  #nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  #nav-list > li {
    float: left;
  }

  #nav-list > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .selected {
    background-color: darkred;
  }

  @media only screen and (max-width: 1000px) {
    #nav-list > li > a {
      font-size: 2em;
    }
  }
</style>

<div id="nav-container">
  <ul id="nav-list">
    <li id="nav-home"><a href="https://open-skitter.neocities.org">home</a></li>
    <li id="nav-practice">
      <a href="https://open-skitter.neocities.org/practice">practice</a>
    </li>
    <li id="nav-get-decks">
      <a href="https://open-skitter.neocities.org/get-decks">get decks</a>
    </li>
    <li id="nav-library">
      <a href="https://open-skitter.neocities.org/library">library</a>
    </li>
  </ul>
</div>

<script>
  var path = window.location.href;
  console.log(path);
  $("#nav-list").children().removeClass("selected");
  if (path == "https://open-skitter.neocities.org/") {
    $("#nav-home").addClass("selected");
  } else if (path == "https://open-skitter.neocities.org/practice/") {
    $("#nav-practice").addClass("selected");
  } else if (path == "https://open-skitter.neocities.org/get-decks/") {
    $("#nav-get-decks").addClass("selected");
  } else if (path == "https://open-skitter.neocities.org/library/") {
    $("#nav-library").addClass("selected");
  }
</script>
