<style>
  #scorecard {
    padding: 20px;
    background: #444;
    color: #fff;
    margin-bottom: 10px;
    width: 250px;
  }
  #status {
    transition: opacity 0.2s ease-in-out;
    border-radius: 10px;
    opacity: 0;
    height: 40px;
    height: 40px;
    line-height: 40px;
    background: #fcf8e3;
  }
  #status.show {
    opacity: 1;
  }
  i {
    font-size: 0.75em;
    color: #888;
  }
  a {
    color: #3d9970;
  }
  .score {
    clear: both;
    margin-bottom: 10px;
    font-size: 0.85em;
  }
  #score {
    font-size: 1em;
    width: 140px;
    height: 40px;
    line-height: 40px;
    color: #999;
    background: #eee;
    display: inline-block;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  #icon {
    background: #fff;
    width: 100px;
    height: 100px;
    color: black;
    font-size: 4em;
    text-align: center;
    line-height: 100px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  input,
  progress {
    width: 100%;
  }
  progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 20px;
  }
  progress[value]::-webkit-progress-bar {
    background-color: #666;
    border-radius: 0px;
    overflow: hidden;
  }
  progress[value]::-webkit-progress-value {
    background: #40db32;
    border-radius: 0px;
  }
</style>

<link href="../font/font_icons8.css" type="text/css" rel="stylesheet" />

<div id="scorecard">
  <div id="icon"></div>
  <h3>John Doe</h3>
  Level: <span id="level"></span> <br />
  Status: <span id="status"></span><br />
  <i>'<span id="quote"></span>'</i>

  <div class="score">
    Score: <span id="score_tag"></span> <br />
    Level score: <span id="levelscore"></span>/<span id="leveltotal"></span
    ><br />
    Total progress: <span id="totalprogress"></span>% <br />
  </div>
  <progress max="100" value="0" id="progress"></progress>
</div>

<script>
  var score = new Score();
  var scorecard = document.getElementById("scorecard");
  function updateScoreCard() {
    // Get scorecard
    var scorecard = score.scorecard();

    // populate template
    for (var p in scorecard) {
      var tag = document.getElementById(p);
      if (tag) {
        tag.innerHTML = scorecard[p];
      }
    }

    document
      .getElementById("progress")
      .setAttribute("value", scorecard.levelprogress);
    scorecard.className = scorecard.status;
    document.getElementById("score_tag").innerHTML = scorecard.score;
    document.getElementById("icon").className = "icons8-" + scorecard.status;
  }

  updateScoreCard();
</script>
