#pinyin,
#english {
  font-size: 2em;
}
#character-target-div {
  background-image: url("mi.svg");
  background-repeat: no-repeat;
  background-position: center;
}
#character-target-div svg {
  cursor: url("../icons/brush-cursor.png") 8 8, auto;
}
#option-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#option-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#progress-background {
  width: 100%;
  background-color: lightgrey;
  border-radius: 10px;
}
#progress-filled {
  width: 1%;
  height: 20px;
  background-color: rgb(112, 223, 112);
  border-radius: 10px;
}

#progress-container {
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

@media only screen and (min-width: 1000px) {
  #progress-background {
    width: 500px;
  }
  #progress-filled {
    height: 10px;
  }
}
