<head>
  <meta charset="utf-8" />
  <meta name="robots" content="noindex,nofollow" />
  <title>Open Skitter - Free Hanzi Practice</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
  <div id="main-content">
    <h1>Impressum</h1>
    <p>Verantwortlich gemäß §18 Abs. 2 MStV:</p>
    <p>
      Caroline Thies<br />
      Beim Kupferhammer 13<br />
      72070 Tübingen <br />
      Deutschland
    </p>
    <h2>Kontakt</h2>
    <p>E-Mail: agent.rarity272@addy.io</p>
    <p>Telefon: +49 176 17783100</p>
    <p><a href="index.html">back to page</a></p>
  </div>
</body>
