h1 {
  font-size: 2.5em;
}

#feature-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-position: inside;
  padding: 0;
}
.feature-item {
  width: 400px;
  text-align: left;
  margin: 25px 50px 25px 50px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.feature-marker {
  width: 50px;
  filter: invert(10%) sepia(94%) saturate(3615%) hue-rotate(357deg)
    brightness(95%) contrast(118%);
}

.feature-container {
  width: 300px;
}

@media only screen and (max-width: 1000px) {
  .feature-item {
    width: 600px;
  }
  .feature-container {
    width: 500px;
  }
}
