body {
  font-family: "Lato", sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #200000;
  display: flex;
  flex-direction: column;
  color: #0d0e1c;
}

#main-content {
  text-align: center;
  padding: 10px;
  background-color: white;
  flex-grow: 1;
}

@media only screen and (max-width: 1000px) {
  #main-content {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1000px) {
  #main-content {
    width: 60vw;
    margin-left: 20vw;
  }
}
