<head>
  <title>Open Skitter - Free Hanzi Practice</title>
  <script src="../js/jquery-3.7.1.min.js"></script>
  <script src="../js/CardManager.js"></script>
  <script type="module">
    import * as tsFsrs from "https://cdn.jsdelivr.net/npm/ts-fsrs@latest/+esm";
    CardManager.setFsrs(tsFsrs);
  </script>
  <link rel="stylesheet" type="text/css" href="../style.css" />
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
  <div id="view-navbar"></div>
  <div id="main-content">
    <h1>Card Library</h1>
    <div id="cardContainer"></div>
  </div>
  <script src="../js/load-views.js"></script>
  <script src="script.js"></script>
</body>
