.card {
  display: flex;
  flex-direction: column;
  border: 4px solid #160101;
  border-radius: 10px;
  width: 250px;
  padding: 10px;
  margin: 10px;
  background-image: linear-gradient(315deg, #c9ccd5, #ffffff, #c9ccd5);
}

.card-deck {
  text-align: left;
  margin: 5px;
  font-weight: bold;
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  justify-content: space-between;
}

.card-pinyin {
  text-align: left;
  margin: 5;
  font-weight: bold;
}

.card-difficulty {
  margin: 5;
  padding: 0;
}

.card-hanzi {
  font-size: 5em;
  margin: 0px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", "KaiTi", "??", STKaiti, "????", serif;
  background-image: linear-gradient(315deg, #c9ccd5, #ffffff, #c9ccd5);
  box-shadow: 3px 3px 3px gray inset;
  border-radius: 3px;
}

.card-details {
  text-align: left;
  padding-left: 10px;
  box-shadow: 3px 3px 3px gray inset;
  border-radius: 3px;
  background-image: linear-gradient(315deg, #c9ccd5, #ffffff, #c9ccd5);
  height: 120px;
}

.card-english {
  font-weight: bold;
}

.card-due {
  font-size: small;
}

#cardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .card {
    width: 360px;
  }

  .card-hanzi {
    height: 200px;
  }

  .card-details {
    height: 140px;
  }
  .card-due {
    font-size: smaller;
  }
}
