#deckContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.deckCard {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  width: 250px;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.deckDetails {
  text-align: left;
  width: 65%;
}

.addDeck {
  width: 30px;
  height: 30px;
  background-color: darkgreen;
  color: white;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.3em;
}

.deckOwned {
  display: none;
  width: 30px;
  height: 30px;
  color: darkgreen;
  font-size: 2em;
}

.deckTags {
  font-style: italic;
  font-size: smaller;
}

.deckSize {
  font-size: smaller;
}

@media only screen and (max-width: 1000px) {
  .deckCard {
    height: 200px;
    width: 350px;
    border-radius: 10px;
  }
  .addDeck {
    width: 50px;
    height: 50px;
    border-radius: 20px;
  }
}
