<head>
  <title>Open Skitter - Free Hanzi Practice</title>
  <script src="../js/jquery-3.7.1.min.js"></script>
  <script src="../js/score.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../style.css" />
</head>

<body>
  <div id="view-navbar"></div>
  <div id="view-scorecard"></div>
  <script src="../js/load-views.js"></script>
  <script src="script.js"></script>
</body>
